/* General styles */
:root {
    --color1: #AD3176;
    --color2: #E8C4D4;
    --color3: #C6E6DB;
    --color4: #006B8F;
    --color5: #003E7F;
    --color6: #885A5A;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(home-imgs/wavybg.png);
    background-size: cover;
}

.web-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

input[type="text"], textarea {
    background-color: rgb(233, 237, 237);
    border: 1px solid rgb(112, 110, 110);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    font-size: 1em;
}

.home-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: var(--color2);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-decoration: none;
}

.home-button:hover {
    background-color: var(--color1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button {
    padding: 10px 15px;
    background-color: var(--color4);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: var(--color5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

