:root {
    --color1: #AD3176;
    --color2: #E8C4D4;
    --color3: #C6E6DB;
    --color4: #006B8F;
    --color5: #003E7F;
    --color6: #885A5A;
}

body{
    background-color: #f4f4f4;
}
.web-container{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    gap: 50px;
    font-size: 30px;
    font-family: sans-serif;
    width: 93%;
    height: 87vh;
    border-radius: 10px;
    justify-content: center;
    background-color: white;
    justify-content: flex-start;

}

.commitees {
    display: flex;
    gap: .5em;
    flex-direction: column;
    font-size: .5em;
    width: 80%;
}

.outer-teams{
    display: flex;
    gap: 5em;
    font-size: .25em;
    flex-direction: row;
    justify-content: start;
    width: 100%;
}

#teams{
    display: flex;
    gap: 5em;
    font-size: .25em;
    flex-direction: row;
    justify-content: start;
    
}

.team{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    border-radius: 20%;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);    transition: background-color 0.3s, box-shadow 0.3s; /* Add transition for smooth effect */
    border: none; /* Ensure no border */

}

.team:nth-child(4n+1) {
    background-color: var(--color1);
    color: white;
}

.team:nth-child(4n+2) {
    background-color: var(--color2);
    color: black;
}

.team:nth-child(4n+3) {
    background-color: var(--color3);
    color: black;
}

.team:nth-child(4n+4) {
    background-color: var(--color4);
    color: white;
}


.add-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    color: white;
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    width: 50px;
    height: 50px; /* Adjust height as needed */
    font-size: 8px;
}

img {
    width: 50px;
    height: 50px;
}

a {
    text-decoration: none;
    color: black;
}

#toggleDarkMode {
    padding: 5px 10px; /* Smaller padding */
    background-color: var(--color4); /* Blue background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Change cursor on hover */
    font-size: 0.8em; /* Smaller font size */
    position: absolute; /* Position it absolutely */
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
}

#toggleDarkMode:hover {
    background-color: var(--color5); /* Darker blue on hover */
}

/*.outer-teams{
    
        background-color: thistle;
        border-radius: 10px;
        padding: 20px;
        box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2); /* Inset shadow for sunken effect 
    
}*/