/*Style for header*/
html{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(home-imgs/wavybg.png);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

#container {
    position: relative;
    width: 400px;
    height: 500px;
}

img{
    width: 100%;
}

.h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.box-top{
    z-index: 10;
    transform: translate(15px, -15px);
    width: 320px;
    height: 462px;
    /*background-color: #eeeef6;*/
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: luminosity;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Adds subtle shadow for separation */
    border-radius: 10px; /* Smoothens edges to avoid sharp distortion lines */
}

.login-info{
    text-align: center;
    color: rgb(60, 60, 75);
    font-size: 20px;
    font-family : 'Franklin Gothic Medium', cursive;
    margin-bottom: -20px;
}

.rr-logo{
    color: rgb(16, 15, 15);
    font-family: 'Arial', cursive;
    font-size: 35px;
    font-weight: bold; 
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}


form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 45px;
}

input[type="text"], input[type="password"]{
   background-color: rgb(220, 252, 252);
}

form label{
    display: block;
    margin-left: -20px;
    font-size: 18px;
    margin-bottom: -5px;
}
 

form input{
    display: block;
    margin-left: -20px;
    margin-bottom: 11px;
    width: 272px;
    padding:2px;
    border: none; 
    margin-top: 9px;
}

.signup input{
    margin-bottom: -18px;
}

.signup label{
    /*margin-bottom: -18px;*/
}


.form-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: -10px;
}

.sign-up{
    text-decoration: underline;
    color: rgb(126, 122, 122);
    cursor: pointer;
    background-color: transparent;
    margin-bottom : 10px;
    margin-top: -10px;
    font-size: 15px;
}

.forgot-password{
    text-decoration: underline;
    color: rgb(116, 127, 188);
    cursor: pointer;
    background-color: transparent;
    margin-bottom: 30px;
    font-size: 15px;
}

.sign-in-button{
    background-color: rgb(207, 64, 112);
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    margin-left: 100px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.register{
    background-color: rgb(189, 39, 76);
    color: white;
    display: block;
    font-size: 16px;
    padding: 2px;
    width: 272px;
    font-family: 'Pacifico', cursive;
    margin-left: -20px;
    text-align: center;
}
